body{
    margin: 0;
    padding: 0;
}

#allContainer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

#leftContainer{
    background-color: aqua;
    width: 30%;
}

#middleContainer{
    background-color: brown;
    width: 45%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

#middleContainer div{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    background-color: aliceblue;
}

#rightContainer{
    background-color: blue;
    width: 25%;
    height: 1200px;
}

#shopForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#shopForm div img{
    width: 80px;
    float: left;
    filter: brightness(0%);
}
